.container-fixed{width:85%;margin:0 auto;}
.container-flex{display:flex;}
.flexwrap{flex-wrap:wrap;}
.jcCenter{justify-content:center;}
.flexDirection{flex-direction:column;}
.flexnowrap{flex-wrap:nowrap;}
.jcFlexEnd{justify-content:flex-end;}
.jcSpaceBetween{justify-content:space-between;}
.jcSpaceAround{justify-content:space-around;}
.flexgrow{flex-grow:1;}
.acCenter{align-content:center;}
.aiCenter{align-items:center;}
.aiFlexstart{align-items:flex-start;}
.positionA{position:absolute;}
.positionR{position:relative;}